.header__logo {
    max-width: 142.01px;
    min-height: 33.4px;
    transition: .5s ease-in-out;
  
    padding: 0;
    padding-left: 5px;
    margin: 0;
  }
  
  @media screen and (max-width: 900px) {
    .header__logo {
      padding-left: 27px;
    }
  }

  @media screen and (max-width: 400px) {
    .header__logo {
      max-width: 103.74px;
      min-height: 24.4px;
      padding-left: 27px;
    }
  }